html, body {

background: linear-gradient(to right, #0000ff, #808080);
padding:50px;

}

#robot {

    width: 300px;
    height: 620px;
    margin: 50px auto 0;
    position: relative;

}

.style {

    background-color: 	#ff00ff;
}


#head {

    width: 75px;
    height: 75px;
    
    position: absolute;
    top: 0px;
    left: 110px;

}

#torso {

    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid #ff00ff;
    position: absolute;
    top: 80px;
    left: 50px;


}


#leftarm {
    
    width: 25px;
    height: 190px;
    
    position: absolute;
    top: 120px;
    right: 40px;
}

.upperarm {
    width: 25px;
    height: 100px;
   
}

.forearm {
    width: 25px;
    height: 80px;
    margin-top: 10px;
    

    
}

#rightarm {

    width: 25px;
    height: 190px;
    
    position: absolute;
    top: 120px;
    left: 40px;



}

#leftleg {
    width: 25px;
    height: 280px;
  
    position: absolute;
    top: 270px;
    right: 90px;



}

#rightleg {

    width: 25px;
    height: 280px;

    position: absolute;
    top: 270px;
    left: 90px;

    
}

.thigh {
    width: 25px;
    height: 160px;


}



.lowerleg {

    width: 25px;
    height: 110px;
    margin-top: 10px;
    
}


.shoeleft, .shoeright {

    width:25px;
    height:10px;
    position: relative;
    background-color: black;
}

#leftarm .forearm:hover {

    transform: rotate(10deg);
}
#rightarm .forearm:hover {

    transform: rotate(-10deg);
}

#head:hover {

    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;

}

#torso:hover {

    transform: scale(1.2);
    
}

#leftarm .upperarm:hover {

    transform: rotate(10deg);
}

#rightarm .upperarm:hover {

    transform: rotate(-10deg);
}


#rightleg .thigh:hover {

    transform: rotate(-10deg);


}


#rightleg .lowerleg:hover {

    transform: rotate(-10deg);

}


#leftleg .thigh:hover {

    transform: rotate(10deg);


}


#leftleg .lowerleg:hover {



    transform: rotate(10deg);

}






